---
import Layout from 'components/Layout.astro'
---

<Layout>
  <header class="flex place-content-center border-b-2 py-2">
    <a href="/" class="cursor-pointer text-xl">interactive web components</a>
  </header>
  <main class="container mx-4 md:mx-8 xl:mx-auto">
    <h2 class="text-lg">components</h2>
    <ul class="list-inside list-disc">
      <li><a href="/react-components/multi-step-form" class="link-hover link link-primary">multi-step form</a></li>
    </ul>
  </main>
</Layout>
